html, body {
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background:#000;
    touch-action: none;
    content-zooming: none;
}

h1{
    color:white;
}

h3{
    color:white;
}

canvas {
position: absolute;
width: 100%;
height: 100%;
background:#000;
}

.navbar{
    display: inline-block;
    background-color: #00e0139f;
    z-index: 100;
    width: 100%;
}

.fun{
    color:white;
}
