@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.about-header {
  font-family: 'Ceviche One';
  color: black;
  font-size: 60px;
  text-align: center;
}

.about {
  color: black;
  font-family: 'Permanent Marker';
  font-size: 25px;
  margin-left: 10px;
}

.aboutus-container{
  position: sticky;
  top: 300px;
  width: 50%;
  margin: 0 auto;
  background: rgba(253, 253, 253, 0.644);
  box-shadow: rgba(197, 190, 190, 0.829) 5px 5px 20px 25px;
}
