.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Permanent Marker';
    width: 500px;
    /* height: 300px; */
    padding: 3px;
    margin-top: 30px;
    /* z-index: 100; */
    background: rgba(253, 253, 253, 0.644);
    box-shadow: rgba(197, 190, 190, 0.829) 5px 5px 20px 25px;
}

.edit-head{
    margin-top: 110px;
}
