#container{
  display: flex;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 400px;
  /* flex-flow: column;
  flex-wrap: wrap; */
}

#game_title{
  text-align: center;
  color:rgb(219, 227, 235);
  margin-top: 10px;
}

#game_description{
  color:rgb(219, 227, 235);
}

#canvas {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: black;
  z-index: -1;
  position: fixed;
  bottom: 0;
}

#game_image {
  height: 300px;
  width: 350px;
  padding-top: 10px;
}

#review_container {
  display: flex;
  flex-direction: row;
  width: 400px;
}

#review{
  display: flex;
  flex-direction: column;
  background-color: rgb(65, 73, 82);
  border: 2px solid #00e0139f;
  border-radius: 16px;
  text-align: center;
  height: 150px;
  width: 1150px;
  margin: 5px auto;
}

#reviews_intro{
  text-align: center;
  color: rgb(219, 227, 235);
}

#reviews_null{
  text-align: center;
  margin-top: 50px;
  color: #00e0139f;
}

.review-text{
  width: 60%;
  height: 70%;
  overflow-y: scroll;
  margin: 0px auto;
}

.game_tags{
  display: flex;
  flex-direction: column;
  color:rgb(219, 227, 235);
  height: 350px;
  width: 400;
  margin: auto;
  justify-content: space-between;
}

.image_container{
  display: flex;
  justify-content: center;
  align-self: baseline;
  margin: 30px auto;
  width: 500px;
  height: 400px;
}


.game_description{
  height: 150px;
  width: 800px;
  overflow-y: scroll;
}



/* Be sure to not add overflow to parent element for sticky to work*/
.navbar {
  display: inline-block;
  position: fixed !important;
  background-color: #00e0139f;
  z-index: 100;
  width: 100%;
}

/* .scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
  top: 30rem;
  /* margin-top: 30px; 
}
.scrolling-wrapper > .card {
  display: inline-block;
}

.this-user {
  position: relative;
  top: 120px;
  color: aliceblue;
} */
/* .game{
    top: 50px;
} */