.game-review {
  color: white
}


.game{
    top: 50px;
}

#game_title{
    color:rgb(219, 227, 235);
}

.game_tags{
    color:rgb(219, 227, 235);
}

#game_description{
    color:rgb(219, 227, 235);
}
