@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.button-login{
    background-color: #00e0139f;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button-login:hover {
  opacity: 1
}

.user-header {
  font-size: 75px;
  font-family: 'Ceviche One';
  color: rgb(86, 190, 108);
  text-align: center;
}

.form-container{
  height: 100%;
  margin-top: 150px;
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Permanent Marker';  
    width: 500px;
    height: 300px;
    padding: 3px;
    z-index: 2;
    background: rgba(253, 253, 253, 0.644);
    box-shadow: rgba(197, 190, 190, 0.829) 5px 5px 20px 25px;
}
