html,
body {
  margin: 0;
  padding: 0;
}

#canvas {
  display: block;
  width: 100%;
  height: 1000px;
  margin: 0 auto;
  /* position: absolute; */
  background: black;
  z-index: -1;
}

/* Be sure to keep not add overflow for sticky to work*/
.head {
  display: block;
  position: sticky;
  top: 0;
  color: white;
  background: black;
}
