{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="card" style="width: 50rem;">
    <div class="card-body">
      <h1 class="about" style="text-align: center;">About Us</h1>
      <h3>What is up, and I can not stress this enough, "My Gamers"!</h3>
      <br/>
      <h3>Do you like games, do you like talking about games?</h3>
      <br/>
      <h3>Well here at Hype Games you can find any game of your liking
      whether it be any genre and if you find the game good or bad, you can review any game you want
      to your hearts content! : )</h3>
    </div>
  </div>
{% endblock %}


 
