{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
     <link rel="stylesheet" 
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
     integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
     crossorigin="anonymous">
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/card.css' %}"
    />
  </head>
<!-- Cards displaying on the index.html page -->
{% block content %}
<div class="scrolling-wrapper">
  {% for game in game.results %}
  <div class="card-transparent" style="width: 18rem">
    <img
      class="card-img-top"
      src="{{ game.background_image }}"
      alt="Card image cap"
      style="height: 10rem"
    />
    <div class="card-body">
      <h5 class="card-title"><a href="/game/{{game.id}}">{{ game.name }}</a></h5>
      <p class="card-text">Released: {{ game.released}}</p>
      <p class="card-text">Metacritic: {{ game.metacritic}}</p>
      <p class="card-text">Rating: {{ game.rating }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
</html>
