<!-- Cards displaying on the index.html page -->
{% block content %}
<div class="scrolling-wrapper">
  {% for game in game.results %}
  <div class="card-transparent" style="width: 18rem">
    <img
      class="card-img-top"
      src="{{ game.background_image }}"
      alt="Card image cap"
      style="height: 10rem"
    />
    <div class="card-body">
      <h5 class="card-title"><a href="/game/{{game.id}}">{{ game.name }}</a></h5>
      <p class="card-text">Released: {{ game.released}}</p>
      <p class="card-text">Metacritic: {{ game.metacritic}}</p>
      <p class="card-text">Rating: {{ game.rating }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
