{% extends 'base.html' %}
{% load static %}
{% block footer %}

  <div class='foot-container'>
    <p class='copyright'>&copy;Copyright 2021, Hype Games Inc. <br> <br>Info provided by <a id='rawg'href='http://rawg.io/'>RAWG</a></p>
    <a class='copyright' id='aboutus-link' href='/aboutus/'>About Us!</a>
    <div>
      <p class='mvp'>A website for hosting game reviews. Best known for its extensive lists of games and genres, expansions.
      Search for Game title, genre, or rating (ex. E, E-10+, T, M).
      Game detail page (includes a description, user reviews, aggregate review score based on reviews)</p>
    </div>
  </div>





  {% comment %} <footer class='foot-container'>
    <div class="col-md-6 mt-md-0 mt-3 footer">
      <h5> <small>&copy; Copyright 2021, Hype Games Inc. All rights Reserved</small> </h5>
      <h5>
        <a class="link" href="/aboutus/">About Us</a>
      </h5>
    </div>
  </footer> {% endcomment %}
{% endblock %}
