{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<body>
  <!-- get information for game from api (request.rating) -->
  <div id='game_title'>
    {% if game.rating != 0 and game.metacritic != None %}
      {% if game.rating >= 4 and game.metacritic >= 90 %}
      <h1 class="display-4">{{ game.name }}</h1>
      <p class="text-success">rated {{ game.rating }}/{{ game.metacritic }}</p>
      {% elif game.rating >= 3 and game.metacritic >= 75 %}
      <h1 class="display-4">{{ game.name }}</h1>
      <p class="text-warning">rated {{ game.rating }}/{{ game.metacritic }}</p>
      {% elif game.rating > 3 and game.metacritic > 75 %}
      <h1 class="display-4">{{ game.name }}</h1>
      <p class="text-danger">rated {{ game.rating }}/{{ game.metacritic }}</p>
      {% endif %}
    {% elif game.rating == 0 and game.metacritic != None %}
    <h1 class="display-4">{{ game.name }}</h1>
    <p class="text-warning">rated {{ game.metacritic }} / 100</p>
    {% elif game.rating != 0 and game.metacritic == None %}
    <h1 class="display-4">{{ game.name }}</h1>:
    <p class="text-warning"> rated {{ game.rating }}</p>
    {% elif game.rating == 0 and game.metacritic == None %}
    <h1 class="display-4">{{ game.name }}</h1><p class="text-danger"> (NOT RATED)</p>
    {% endif %}
  </div>
  <div id="container">
    <div class="image_container">
      <img id="game_image" src={{ game.background_image }}>
    </div>
    <div class="game_tags">
      <p>
        release date: {{ game.released }}
      </p>
      <br>
      <p>
        genre:
        {% for item in game.genres %}
        {{ item.name }},
        {% endfor %}
      </p>
      <br>
      <p>
          <a href={{ game.website }}>{{game.name}}'s website</a>
      </p>
      Game Description:
      <div class="game_description">
        {{ game.description_raw }}
      </div>
      <a href='/add_review/{{game.game_id}}/'>Add a Review</a>
    </div>
  </div>
  <div id="reviews_container">
    <h5 id='reviews_intro'>Reddit Comments, Concerns, and Reviews</h5>
    {% for r in review %}
    <div id="review">
      <p class="text-info">{{ r.review }} - posted by {{ r.user }} </p>
      <p class="review-text">{{ r.description }}</p>
    </div>
    {% endfor %}
    {% for review in reddit_reviews.results %}
    {% if review.text != "" %}
    <div id="review">
      <p class="text-info">{{ review.name }} - posted by {{ review.username }} on {{ review.created }}</p>
        <p class="review-text">{{ review.text }}</p>
    </div>
    {% endif %}
    {% endfor %}
    {% if reviews.count == 0 %}
      <h2 id='reviews_null'>This game has no reviews yet :(</h2>
    {% endif %}
  </div>
<canvas id="canvas">
</body>
{% endblock %}
