{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/game.css' %}"
    />
  </head>
  {% comment %} <header>
    {% include 'navbar.html' %}
  </header> {% endcomment %}

  <body>
<div class="game">
<!-- get information for game from api (request.rating) -->
{% if game.rating != 0 and game.metacritic != None %}
    <h2 id='game_title'>{{ game.name }}: rate score {{ game.rating }}/{{ game.metacritic }}</h2>
{% elif game.rating == 0 and game.metacritic != None %}
    <h2 id='game_title'>{{ game.name }}: rate score {{ game.metacritic }}</h2>
{% elif game.rating != 0 and game.metacritic == None %}
    <h2 id='game_title'>{{ game.name }}: rate score {{ game.rating }}</h2>
{% elif game.rating == 0 and game.metacritic == None %}
    <h2 id='game_title'>{{ game.name }}: rate score (NOT RATED)</h2>
{% endif %}
<img src={{ game.background_image }} style="width:50%; height:50%;" id="game_image">
<div class="game_tags">
    release date: {{ game.released }} 
    <br>
    genre: 
    {% for item in game.genres %}
    {{ item.name }}
    {% endfor %}
    <br>
     <a href={{ game.website }}>{{game.name}}'s website</a>
    <div id="game_description">
        {{ game.description_raw }}
    </div>
</div>
<canvas id="canvas">
    <script src="{% static '/js/index.js' %}"></script>
</div>
</body>
</html>

