{% include 'base.html' %}
{% include 'navbar.html' %}
{% if request.path != '/signup/' %}
    <div class='form'>
        <h1>Login</h1>
        <form action='' method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value='Log in'>
        </form>
    </div>
{% else %}
    <div class='form'>
        <h1>Sign up</h1>
        <form action='' method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value='Sign up'>
        </form>
    </div>
{% endif %}
