{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <body>
    {% include 'navbar.html' %}
    <br/>
    {% if request.path == '/login/' %}
    <div class='form-container'>
            <h1 class="lasvegas auth-head">
                L<span class="delay">og</span>i<span>N</span>
            </h1>
            <div class='user-form'>
                <form action='' method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success" type="submit" value='Log in'>
                </form>
            </div>
    </div>
    {% elif request.path == '/signup/' %}
        <div class='form-container'>
                <h1 class="lasvegas auth-head" id='sign-head'>
                    Si<span>G</span>n u<span class="delay">P</span>
                </h1>
                <div class='user-form'>
                    <form action='' method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-success" value='Sign up'>
                    </form>
                </div>
        </div>
    {% else %}
        <div class='form-container'>
            <h1 class='user-header'>Profile</h1>
                <div class='user-form'>
                    <form action='' method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-success" value='Update'>
                    </form>
                </div>
        </div>
    {% endif %}
    </body>

    <br/>
    <br/>
    <br/>
    <br/>

    {% include 'footer.html' %}
    <canvas id='canvas'></canvas>
{% endblock %}
