{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% include 'navbar.html' %}
  <canvas id='canvas'></canvas>
    <section id='sec1'>
        <h1 class="lasvegas home-head">
          Hyp<span>E</span><br/> Ga<span class="delay">me</span>S<span id='copyright'>&copy;</span>
        </h1>
      <div>
        <a href="#games">
          <div class="scroll-down"></div>
        </a>
      </div>
    </section>

      <div id='games'>
        {% include 'card.html' %}
      </div>
      <p class='block'>Hey Darian to keep your foot down,</p>
      <p class='block'>We had to use these p tags like idiots :))</p>
      {% include 'footer.html' %}
{% endblock %}
