{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/index.css' %}"
    />
  </head>
  <body>
    <div class='head'>
      <h1>Hello World</h1>
      <form action='{% url "search_result" %}' method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <table style="display: none">
          {{ view.formset.empty_form }}
        </table>

        <table>
            {{ view.formset }}
        </table>

        <span id="add-form" class="button">Add form</span>
        <input type="submit" />
        <!-- <input name='query' type='text' placeholder='Search for a game here..'> -->
        <!-- <button type='submit' name='button'>Submit</button> -->
    </form>
    </div>
    {% comment %} Canvas used for Hex background. {% endcomment %}
    <canvas id="canvas">
    <script src="{% static '/js/index.js' %}"></script>
  </body>
</html>

