.card{
    background-color: rgba(85, 83, 83, 0.171);
    /* bottom: 100px; */
}

.card-body {
    background-color: rgba(85, 83, 83, 0.171);
}

.card-title{
    color: #f8f6f6;
}

.card-text{
    color: #f8f6f6;
}

.scrolling-wrapper {
    color:rgba(247, 242, 235, 0.438);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    top: 150px;
  }

  .genre-title{
    position: relative;
    top: 150px;
    color: rgba(219, 219, 219, 0.856)
  }

  .title-color{
    color: green;
  }

  .title-color:hover{
    color: white;
    text-decoration:none;
  }
