@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

#review-container{
  height: 100%;
  margin-top: 150px;
}

#reviewform{
  font-family: 'Permanent Marker';
  margin: 0 auto;
  position: relative;
  width: 600px;
  padding: 0 20px;
  z-index: 2;
  background: rgba(253, 253, 253, 0.644);
  box-shadow: rgba(197, 190, 190, 0.829) 5px 5px 20px 25px;
}

.review-header {
  font-family: 'Ceviche One';
  font-size: 75px;
  text-align: center;
  color: rgb(86, 190, 108);
}

#review-button {
    background-color: #00e0139f;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    font-size: 16px;
    margin: 12px 6px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

  #review-button:hover {
      opacity: 1
    }
